html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ad4c4c;
    min-height: 100vh;
    background: linear-gradient(135deg, #772626 0%, #746d0e 48%, #2f6175 100%);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.player {
    max-width: 750px;
    border: 5px inset rgba(0, 0, 0, 0.2);
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 0;
    overflow: hidden;
}

/* Only Fullscreen */
.player:fullscreen {
    max-width: none;
    width: 100%;
}

.player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.player_video {
    width: 100%;
    height: 100%;
}

.player_button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;

}

.player_button:focus {
    border-color: #520d0d93;
}

.player_slider {
    width: 10px;
    height: 25px;
}

.player_controls {
    display: flex;
    position: relative;
    padding: 2px;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
}

.player:hover .player_controls {
    transform: translateY(0);
}

.player:hover .progress {
    height: 10px;
}

.player_controls > * {
    flex: 1;
}

.progress {
    flex: 10;
    position: relative;
    margin: 1px;
    display: flex;
    flex-basis: 100%;
    height: 3px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
}

.progress_filled {
    /* width: 50%; */
    background-color: #458ca8;
    flex: 0;
    flex-basis: 0%;

}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0, ), 0 0 1px rgba(13, 13, 13, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #a55252;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b1c3ce;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #34759b;
    cursor: pointer;
}